@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.titlebar-buttonbox-container
{
       	display: none !important;
}

.titlebar-spacer
{
	display: none !important;
}

#window-controls
{
	display: none !important;
}

#pocket-button
{
	display: none !important;
}

#pageActionButton
{
	display: none !important;
}

#appMenu-library-recentHighlights
{
	display: none !important;
}
